fastapi~=0.115.7
uvicorn~=0.34.0
numpy~=1.26.4
pygame~=2.6.1
rich~=13.9.4
python-docx~=1.1.2
odfpy~=1.4.1
pypdf~=5.2.0
pydantic~=2.10.6
python-multipart~=0.0.20
soundfile~=0.13.1
kokoro~=0.7.8
misaki~=0.7.8
sqlalchemy~=2.0.37
numba~=0.61.0
cn2an~=0.5.23
jieba~=0.42.1
ordered-set~=4.1.0
proces~=0.1.7
pypinyin~=0.53.0
fugashi~=1.4.0
jaconv~=0.4.0
mojimoji~=0.0.13
unidic-lite~=1.0.8