fastapi~=0.115.13
uvicorn~=0.34.3
numpy~=2.3.0
pygame~=2.6.1
rich~=14.0.0
python-docx~=1.2.0
odfpy~=1.4.1
pypdf~=5.6.0
pydantic~=2.11.7
python-multipart~=0.0.20
soundfile~=0.13.1
kokoro~=0.9.4
misaki~=0.9.4
sqlalchemy~=2.0.41
aiosqlite~=0.21.0
numba~=0.61.2
cn2an~=0.5.23
jieba~=0.42.1
ordered-set~=4.1.0
proces~=0.1.7
pypinyin~=0.54.0
fugashi~=1.5.1
jaconv~=0.4.0
mojimoji~=0.0.13
unidic-lite~=1.0.8
pyopenjtalk~=0.4.1
