fastapi~=0.115.12
uvicorn~=0.34.2
numpy~=2.2.6
pygame~=2.6.1
rich~=14.0.0
python-docx~=1.1.2
odfpy~=1.4.1
pypdf~=5.5.0
pydantic~=2.11.5
python-multipart~=0.0.20
soundfile~=0.13.1
kokoro~=0.9.4
misaki~=0.9.4
sqlalchemy~=2.0.41
numba~=0.61.2
cn2an~=0.5.23
jieba~=0.42.1
ordered-set~=4.1.0
proces~=0.1.7
pypinyin~=0.54.0
fugashi~=1.4.0
jaconv~=0.4.0
mojimoji~=0.0.13
unidic-lite~=1.0.8
